<div class="container dashboard">
  <h3>Edit Dashboard</h3>
  <%= form_tag visitors_update_dashboard_path, method: :put do %>
    <ul id="apps-list">
      <% @apps.each do |app| %>
      <li><%= check_box_tag "app_ids[]", app.id, current_user.apps.include?(app) %> <%= app.name %></li>
      <% end %>
    </ul>
    <%= submit_tag %>
  <% end %>
</div>
