<div class="container dashboard">
  <h3>Bio Dome</h3>
  <%= link_to "Edit Apps", visitors_edit_dashboard_path, class: 'edit-apps' %>
  <div class="row">
    <% current_user.app_users.order(:position).each do |app_user| %>
    <div class="col-md-4 block-grid-lg-1 app" style="background-color: <%= app_user.app.color %>">
      <div class="title" ><%= app_user.app.name %></div>
      <div class="info" data-href="<%= app_user.app.link %>">
        <%= app_user.app.description %>
        <%= app_user.app.link %>
      </div>
    </div>
    <% end %>
  </div>
</div>
